<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>
        {% block title %}
            Longboard Buddy Finder
        {% endblock %}
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/devtrwlbfind/css/googlemaps.css') }}" type="text/css" media="all" />
    {% endblock %}
    <link rel="shortcut icon" href="{{ asset('bundles/devtrwlbfind/images/favicon.ico') }}" />\
</head>
<body>
     <div class="content">
        {% block content %}
        {% endblock %}
    </div>
     <div id="map-canvas"></div>
    <div class="body">
        {% block body %}
        {% endblock %}
    </div>


    {% block javascripts %}
        <script src=" https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwD1EanByNiHrLQiAwvIYmJJNU2kGCW3Q"></script>
        <script src="{{ asset("bundles/devtrwlbfind/js/googlemaps.js") }}"></script>
        <script>
            initializeMapManager('{{ path('dev_trw_lb_find_longboarders_list') }}');
        </script>

    {% endblock %}

</body>
</html>